<strong>Olá. {{ studentName }}</strong>
<p>A equipe GymPoint agradeçe seu contato</p>
<p>Segue abaixo os detalhes do seu plano:</p>
<p>
  <strong>Dúvida: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
  <small>
  Estamos sempre prontos para tirar suas dúvidas! ;)
  </small>
</p>
